html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    min-height: 100vh;
}

@font-face {
    font-family: 'Century Gothic Std';
    src: url('fonts/Century_Gothic_Std.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1; 
    background-color: rgba(134, 131, 125, 1);
    transition: opacity 0.3s ease, height 0.3s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    opacity: 1;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: calc(0.6em + 1vw);
    transition: 0.3s ease;
    font-family: 'Century Gothic Std', sans-serif;
}

nav a.active {
    border-bottom: 2px solid white;
}

nav a:hover{
    color: #b3b3b3;
    border-bottom-color: #b3b3b3;
}

nav img {
    width: 9%;
}

.hidden {
    opacity: 0;
    height: 0;
    transition: opacity 0.3s ease, height 0.3s ease;
}

section{
    position: relative;
    display: flex;
    overflow: hidden;
}

#inicio {
    height: 100vh;
}

.background-inicio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/BACKGROUND.webp');
    background-size: cover;
    background-position: center;
    object-position: center bottom;
}

.overlay-inicio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(43, 43, 43, 0.20);
}

.content-inicio {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 8%;
    color: white;
    align-items: left;
    top: 45%;
}

.content-inicio img {
    display: flex;
    width: 35vw;
    height: 9vw;
    max-width: 95%; 
    margin-bottom: 4em; 
}

.content-inicio p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1em;
    font-size: 3.0vh;
}

#servicios {
    display: flex;
    height: 100vh;
    background-color: #f1f1f1;
    justify-content: space-evenly;
}

.container {
    width: 30%;
    height: 40%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 20%;
    column-gap: 20%;
    padding: 17% 5%;
}

.container div {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 3.5vh;
    justify-content: center;
    align-items: center;
    font-family: 'Century Gothic Std', sans-serif;
    color: white;
    background-color: #86837d;
    border-radius: 1.5rem;
}

hr {
    display: flex;
    margin-top: 5%;
    align-self: center;
    position: absolute;
    height: 75%;
    width: 0.09%;
    background-color: #86837d;
    opacity: 0.5;
}

.presentation {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 50vh;
    padding: 10% 0;
    align-items: start;
    font-size: 2.2vh;
    font-family: 'Inter', sans-serif;
}

.presentation .description {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.presentation .description img {
    width: 50%;
}

.presentation .description p {
    width: 50%;
    margin-left: 3%;
}

.presentation p {
    margin-top: 10%;
    width: 100%;
}

#galeria {
    display: flex;
    height: 100vh;
    background-color: #f1f1f1;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.swiper-slide{
    display: flex !important;
    align-items: center;
    justify-content:center;
}

.swiper-button-next{
    color: #86837d !important;
    margin-right: 4vw;
}

.swiper-button-prev{
    color: #86837d !important;
    margin-left: 4vw;
}

.swiper-pagination-bullet {
    background-color: white !important;
}

.gallery-image {
    height: 65vh;
    width: 65vw;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

footer{
    background-color: #86837d;
    color: white;
    font-size: 2.5vh;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.top-footer {
    padding: 5% 0;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.top-footer img {
    display: flex;
    height: 70%;
}

.direction {
    line-height: 50%;
}

.direction svg {
    height: 11%;
    width: 11%;
}

.telephone {
    line-height: 50%;
}

.telephone svg {
    height: 25%;
    width: 25%;
}

.horario {
    line-height: 50%;
}

.horario svg {
    height: 11%;
    width: 11%;
}

.recognitions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.recognitions img {
    height: 9vh;
    max-width: 25vw;
}

.bottom-footer {
    font-size: 1.9vh;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bottom-footer a:link,
.bottom-footer a:visited  {
    color: white;
    text-decoration: underline;
}

/* Media query para teléfonos */
@media only screen and (max-width: 650px) {
    nav {
        width: 85%
    }
    nav a{
        font-size: 1.2em;
    }
    nav img {
        width: 17%;
    }
    .background-inicio {
        background-position: 65% 0;
        object-position:  right;
    }
    .content-inicio {
        top: 50%;
    }
    .content-inicio img{
        display: flex;
        width: 40vh;
        height: 11vh;
    }
    .content-inicio p {
        font-size: 2.5vh;
    }
    #servicios {
        overflow: auto;
        height: 120vh;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container {
        width: 70%;
        height: 20%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10%;
        justify-content: space-between;
        padding: 5% 5%;
    }
    .container div {
        height: 50%;
        width: 30%;
    }
    hr {
        display: block; 
        position: relative; 
        height: 1px;
        width: 75%;
        margin-top: 0;
    }
    .presentation {
        font-size: 2vh;
        justify-content: center;
        flex-direction: column;
        width: 85%;
        height: 40%;
        padding: 0 0;
    }
    .presentation .description img {
        height: 90%;
    }
    .presentation p {
        width: 100%;
    }
    .swiper-button-next {
        color: transparent !important;
    }
    .swiper-button-prev {
        color: transparent !important;
    }
    .gallery-image {
        height: 70vh;
        width: 100%;
        object-fit: cover;
        transition: transform 0.5s ease-in-out;
    }
    footer {
        font-size: 2.2vh;
        padding: 5%;
    }
    .top-footer{
        align-items: center;
        justify-content: left;
        width: 65%;
        flex-wrap: wrap;
        padding: 15%;
    }
    .top-footer img {
        height: 50%;
        margin-top: 0;
    }
    .direction svg{
        margin-top: 7vh;
        line-height: 100%;
    }
    .telephone svg{
        margin-top: 5vh;
        line-height: 100%;
    }
    .horario svg{
        margin-top: 5vh;
        line-height: 100%;
    }
    .recognitions {
        padding: 0 5%;
        width: 80%;
        margin-top: 90%;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .recognitions img {
        display: flex;
        height: 6vh;
        max-width: 50vw;
        margin-bottom: 5%;
    }
    .bottom-footer{
        font-size: 1.6vh;
        margin-top: 5vh;
        padding: 10%;
        width: 80%;
        height: 3vh;
    }
}

  